*{
    font-family: sans-comic;
    background-color: darkblue;
    text-align: center;
    
}
h1{
    color: darkred;
}
h2{
    color: lightcoral;
}
body{
    color:lightgray;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}